:root {
  --light-blue: #E0FBFC;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3D5A80;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border: 1px solid black;
  padding: 2em 2em;
  border-radius: 1em;
  background-color: var(--light-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: min-content;
  min-height: min-content;
}

.location-pin {
  width: 2em;
  margin-right: 1em;
}

.search-bar {
  height: 3em;
  width: 300px;
  border: 0;
  background-color: var(--light-blue);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
}

.search-bar::placeholder {
  color: black;
  text-transform: capitalize;
  font-weight: normal;
}

.search-bar:focus{
  border: 0;
}

.search-button {
  height: 2em;
  width: 2em;
  padding: 1.7em;
  margin-left: 1em;
  border-radius: 100%;
  background-image: url('../public/images/search.png');
  background-position: center;
  background-size: 2em;
  background-repeat: no-repeat;
  background-color: rgba(238, 108, 77, 0.8);
  border: 0;
}